@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Exo+2:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Exo-2, sans-serif;
    font-weight: 300;
    color: grey;
}

h1,
h2 {
    font-family: Alegreya-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: purple;
}

#logo,
#heading {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#menu,
#logo,
#heading {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#cover-image {
    height: 500px;
    width: 66%;
    overflow: hidden;

}